<table class="table table-hover">
      <tr>
          <td width="70px">
              <a href="{{ url_for('user', username=comment.author.username) }}">
                  <img src="{{ comment.author.avatar(70) }}" />
              </a>
          </td>
          <td>
              <a href="{{ url_for('user', username=comment.author.username) }}">
                  {{ comment.author.username }}
              </a>
              Comment:
              <br>"
              {{ comment.body }}
														"<br>
														on article<br>
														<a href = "{{ url_for('commentonarticle',title=comment.title) }}">{{ comment.title }} </a>
          </td>
      </tr>
  </table>
